
<dxn-sidebar></dxn-sidebar>
<div class="d-flex w-100 image">
    <div class="d-flex p-10 flex-column align-items-center justify-content-center w-100 gap-3 fw-bold">
        <span class="fs-1"><span>BIENVENIDO A</span><span class="text-warning"> MI PORTAL</span></span>
        <span class="fs-5">DANIEL MARTINEZ HERNANDEZ</span>
        <span *ngIf="!!yourName" class="fs-6">{{yourName | cambioLetras}}</span>
        <button mat-stroked-button (click)="open()">Escribe tu nombre</button>
    </div>
</div>